<%- include('partials/head') %>
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
    <%- include('partials/navigation') %>
    <main>
        <form class="users-form" action="/users" method="POST">
            <div class="form-control">
                <label for="title">User Name</label>
                <input type="text" name="title" id="title">
            </div>

            <button class="btn" type="submit">Add User</button>
        </form>
    </main>
</body>
</html>