<%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navigation') %>

    <main>
        <h1>My Users Page</h1>
        <% if (users.length > 0) { %>
        <ul>
            <% users.forEach(user => { %>
            <li><%= user.title %></li>
            <% }) %>
        </ul>
        <% } else { %>
        <h2>No users found</h2>
        <% } %>
    </main>
</body>
</html>